<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{ outlets: { primary: 'artists', dock: 'albums' } }]">Артисты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{ outlets: { primary: 'albums' , dock: 'tracks'} }]" >Альбомы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[{ outlets: { primary: 'tracks' , dock: 'artists'} }]" >Композиции</a>
      </li>
    </ul>
  </div>
</nav>
